<div class="v1">
    <div class="accountsavebank ">
        <div class="accountsavebank-item inline-block">
            <h5 class="text-color">Tài khoản tiết kiệm</h5>
            <label>Chọn tài khoản tiền gửi</label>
             <select class="custom-select" id="inputGroupSelect01">
                <option selected></option>
                <option value="1">One</option>
            </select>
            <hr>
        </div>
        <br>
        <div class="accountsavebank-item inline-block bg-success mt-4">
            <label>Tài khoản nhận</label>
            <select class="custom-select" id="inputGroupSelect01">
                <option selected>Tài khoản nhận</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
                <hr>
            </select>
            <h5 class="mt-4">Số tiền</h5>
            <hr>
        </div>

    </div>
</div>