<div class="v1">
    <div class="accountsavebank ">
        <div class="accountsavebank-item inline-block">
            <h5 class="text-color">Tài khoản nguồn</h5>
            <h5>012546684</h5>
        </div>
        <br>
        <div class="accountsavebank-item inline-block bg-success mt-4">
            <select class="custom-select" id="inputGroupSelect01">
                <option selected>Kỳ hạn</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            <select class="custom-select mt-4 mb-4" id="inputGroupSelect01">
                <option selected>Thời gian đáo hạn</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Số tiền muốn gửi</span>
                </div>
                <input class="form-control" aria-label="With textarea">
            </div>
            <div class="mt-5 d-flex justify-content-around">
                <button class="btn btn-danger" type="submit">Hủy bỏ</button>
                <button class="btn btn-info" type="submit">Xác nhận</button>
            </div>
        </div>

    </div>
</div>