<div class="accountme">
    <div class="accountme-item">
        <div class="accountme-items">
            <a href="/customer/myAccount" title="Tài khoản"><img src="https://res.cloudinary.com/dxd5emviu/image/upload/v1636776451/retail-icon-1_it9twh.png"
                class="icon-account mr-2"></a>
        </div>
        <div class="accountme-items">
            <a href="/term/" title="Gửi tiết kiệm"><img src="https://res.cloudinary.com/dxd5emviu/image/upload/v1636776451/retail-icon-5_qczg8l.png"
                class="icon-account mr-2"></a>
        </div>
        <div class="accountme-items">
            <a href="/settlement/" title="Tất toán"><img src="https://res.cloudinary.com/dxd5emviu/image/upload/v1636776451/retail-icon-6_bhmhp5.png"
                class="icon-account mr-2"></a>
        </div>
        <div class="accountme-items">
            <a href="/history/" title="Lịch sử"><img src="https://res.cloudinary.com/dxd5emviu/image/upload/v1636776451/retail-icon-4_ghhi9r.png"
                class="icon-account mr-2"></a>
        </div>
    </div>
    <h4 class="text-center">Ưu đãi</h4>
    <div class="img-sale">
        <img src="https://res.cloudinary.com/dxd5emviu/image/upload/v1636775986/KM_qp9nbs.jpg" class="img-sale-item">
    </div>
</div>