<div class="v1">
    <div class="accountsavebank ">
        <h5 class="">Thống kê</h5>
        <div class="accountsavebank-item inline-block">
            <h5>Số tiền</h5>
            <h4>50,000,000 VND</h4>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn">Ngày bắt đầu</button>
                <button type="button" class="btn">Ngày kết thúc</button>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0"
                    aria-valuemax="100">50%</div>
            </div>
            <div class="mt-5 text-right">
                <button type="button" class="btn"><b>Lịch sử</b></button>
            </div>
        </div>
        <br>
        <div class="accountsavebank-item inline-block mt-4 d-flex justify-content-around">
            <div class="left">
                <p>Tên sổ</p>
                <h5>Thông tin</h5>
                <p class="mt-2">Số tài khoản</p>
                <h5>Thông tin</h5>
                <p class="mt-2">Lãi tạm tính</p>
                <h5>Thông tin</h5>
            </div>
            <div class="right">
                <p>Kỳ hạn và lãi suất</p>
                <h5>Thông tin</h5>
                <p class="mt-2">Khi hết kỳ hạn</p>
                <h5>Thông tin</h5>
            </div>
        </div>
        <div class="text-center mt-4">
            <a href="" class="btn btn-danger" data-toggle="modal" data-target="#tattoan"
                data-id="" title="Xoá">Tất toán ngay</i></a>
        </div>
        <div id="tattoan" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <p>Khi tất toán trước hạn, Quý khách sẽ chỉ nhận được lãi suất không kỳ hạn (0.1%/năm) tính trên số ngày thực gửi cho tài khoản tiết kiệm này</p>
                    </div>
                    <div class="modal-footer d-flex justify-content-around">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy bỏ</button>
                        <button id="btn-delete-course" type="button" class="btn btn-danger">Đồng ý</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>