<div class="v1">
    <div class="accountsavebank ">
        {{#if soTK}}
        <div class="accountsavebank-item inline-block">
            <h5 class="text-color">Tài khoản nguồn</h5>
            <h5>{{soTK}}</h5>
            <h5 class="text-color">Số dư khả dụng</h5>
            <h5>{{soDu}} VNĐ</h5>
        </div>
        <br>
        <div class="accountsavebank-item inline-block bg-success mt-4">
            <h5>Vui lòng chọn kỳ hạn muốn gửi :</h5>
            <select class="custom-select" id="inputGroupSelect01">
                <option selected>Kỳ hạn</option>
                {{#each interestRates}}
                <option value="1">{{this.kyHan}}</option>
                {{/each}}
            </select>
            <br>
            <br>
            <h5>Lãi suất tương ứng : {{this.laiSuat}}</h5>
            <br>
            <h5>Thời gian đáo hạn : </h5>
            <br>
            <h5>Số tiền muốn gửi</h5>
            <hr>
        </div>
        {{/if}}

    </div>
</div>