<div class="container">
    <div class="row">
        <div class="col-sm-6 col-lg-4 min-height mb-4">
            <div class="card card-course-item">
                <a href="/courses/{{this.slug}}">
                    <img src="{{this.linkImg}}" class="card-img-top img-course" alt="{{this.name}}">
                </a>
                <div class="card-body">
                    <a href="/courses/{{this.slug}}">
                        <h5 class="card-title size text-center color-text">Tên gói tiết kiệm</h5>
                        <p>Thông tin về gói tiết kiệm</p>
                    </a>
                    <div class="text-center">
                        <button type="button" class="btn btn-outline-warning">Mở gói</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>