<div class="form-signin">
    <div class="form-signin-item text-center">
        <div>
            <img src="https://res.cloudinary.com/dxd5emviu/image/upload/v1636260329/249000531_905697440068131_6669106597424658124_n_fbahjd.jpg"
                alt="" class="icon-logo">
        </div>
        <form method="post" class="mt-4" action="">
            <div class="form-group">
                <input type="text" class="form-control" name = "userName" placeholder="Tên đăng nhập">
            </div>
            <button type="submit" class="btn btn-secondary mt-5">Đặt lại mật khẩu</button>
        </form>
    </div>
</div>