<div class="profile">
    <div class="profile-item">
        <div class="text-center">
            <img src="https://res.cloudinary.com/dxd5emviu/image/upload/v1636260329/249000531_905697440068131_6669106597424658124_n_fbahjd.jpg"
                alt="" class="icon-logo">
        </div>
        <h3 class="text-color text-center mt-5">Tạo gói tiết kiệm</h3>
        <form method="GET" class="mt-4" action="/">
            <input type="hidden" class="form-control label-text" name="id" value="{{customer._id}}">

            <div class="form-group">
                <label class="label-name">Tên gói</label>
                <input type="text" class="form-control label-text" name="tengoi" value="" readonly="readonly"> 
            </div>
            <div class="form-group">
                <label class="label-name">Kỳ hạn</label>
                <input type="text" class="form-control label-text" name="kyhan" placeholder=""
                    value="" id="" readonly="readonly">
            </div>
            <div class="form-group">
                <label class="label-name">Lãi suất</label>
                <input type="text" class="form-control label-text" name="laisuat" placeholder=""
                    value="" readonly="readonly">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Thêm gói</button>
            </div>
        </form>
    </div>
</div>
