* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-course-item {
  margin-top: 16px;
}

.checkbox-option {
  width: 140px;
  margin: 0 16px;
}

.user-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 4px;
}

.account {
  margin-left: 450px;
}

.icon-logo {
  width: 200px;
  height: 60px;
}

.img-slider {
  width: 100%;
}

.form-signin {
  display: flex;
  height: 585px;
}

.form-signin-item {
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 450px;
  height: 350px;
  padding: 36px;
  background-color: #fff;
}

.form-signup {
  display: flex;
  height: 625px;
}

.form-signup-item {
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 500px;
  height: 550px;
  padding: 36px;
  background-color: #fff;
}

.label-name {
  display: inline-block;
}

.label-text {
  display: inline-block;
}

.profile {
  display: flex;
  height: 625px;
  margin-top: 50px;
}

.profile-item {
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 700px;
  height: 700px;
  padding: 36px;
  background-color: #fff;
}
.savemoney {
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 500px;
  height: 500px;
  padding: 36px;
  background-color: #fff;
}

.icon {
  width: 30px;
  height: 30px;
}
.icons {
  width: 40px;
  height: 25px;
}

.icon-2 {
  width: 60px;
  height: 60px;
}

.accountme {
  height: 625px;
  margin-top: 50px;
}

.accountme-item {
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 30px;
  width: 700px;
  padding: 50px;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
}

.icon-account {
  width: 60px;
  height: 60px;
}

.img-sale {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-sale-item {
  width: 1000px;
  border-radius: 20px;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.accountsavebank {
  height: 625px;
  margin-top: 50px;
}

.accountsavebank-item {
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 50px;
  width: 500px;
  height: 250px;
  padding: 50px;
  background-color: #fff;
}



.historybank {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.historybank-item {
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 50px;
  width: 1200px;
  padding: 50px;
}

.border-tran {
  border: 1px solid #ccc;
  display: inline;
  border-radius: 10px;
  margin-bottom: 10px;
  color: #000;
  padding: 8px;;
}

.endow {
  color: #fff;
}
.endow-2 {
  color: #fff;
  opacity: 0.8;
}

.v1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.accountsave {
  height: 625px;
  margin-top: 50px;
}

.accountsave-item {
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 50px;
  width: 700px;
  padding: 50px;
  background-color: #fff;
}

.ruttien {
  font-size: 28px;
}
.border-accountsavebank {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 45px;
  margin-bottom: 50px;
}
.description {
  height:150px;
}
.accountsave-item {
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 50px;
  width: 500px;
  height: 170px;
  padding: 50px;
  background-color: #fff;
}
.accountsaves-item {
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 50px;
  width: 500px;
  height: 500px;
  padding: 50px;
  background-color: #fff;
}
.accountsavedetail-item {
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 50px;
  width: 500px;
  height: 300px;
  padding: 50px;
  background-color: #fff;
}
.fix {
  white-space: nowrap;
}
.fix-2 {
  margin-left: -10px;
}
  .search-icon {
    margin-right: 100px;
  }
  .search-key {
    color: #000;
  }
  .opan {
  }