* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-course-item {
  margin-top: 16px;
}

.checkbox-option {
  width: 140px;
  margin: 0 16px;
}

.user-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 4px;
}

.account {
  margin-left: 450px;
}

.icon-logo {
  width: 200px;
  height: 60px;
}

.img-slider {
  width: 100%;
}

.form-signin {
  display: flex;
  background-color: #008c45;
  height: 585px;
}

.form-signin-item {
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 673px;
  height: 350px;
  padding: 36px;
  background-color: #fff;
}

.form-signup {
  display: flex;
  background-color: #008c45;
  height: 625px;
  margin-top: 50px;
}

.form-signup-item {
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 673px;
  height: 550px;
  padding: 36px;
  background-color: #fff;
}

body {
  /* background-color: #008c45; */
}

.text-color {
  color: #008c45;
}

.label-name {
  display: inline-block;
}

.label-text {
  display: inline-block;
}

.profile {
  display: flex;
  background-color: #008c45;
  height: 625px;
  margin-top: 50px;
}

.profile-item {
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 1000px;
  height: 900px;
  padding: 36px;
  background-color: #fff;
}

.icon {
  width: 30px;
  height: 30px;
}

.icon-2 {
  width: 60px;
  height: 60px;
}

.accountme {
  height: 625px;
  margin-top: 50px;
}

.accountme-item {
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 30px;
  width: 700px;
  padding: 50px;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
}

.icon-account {
  width: 60px;
  height: 60px;
}

.img-sale {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-sale-item {
  width: 1000px;
  border-radius: 20px;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.accountsavebank {
  height: 625px;
  margin-top: 50px;
}

.accountsavebank-item {
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 50px;
  width: 500px;
  height: 250px;
  padding: 50px;
  background-color: #fff;
}



.historybank {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.historybank-item {
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 50px;
  width: 1200px;
  padding: 50px;
}

.border-tran {
  border: 1px solid #ccc;
  display: inline;
  border-radius: 10px;
  margin-bottom: 10px;
  color: #000;
  padding: 8px;
  background-color: #54ff9f;
}

.endow {
  color: #fff;
}
.endow-2 {
  color: #fff;
  opacity: 0.8;
}

.v1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.accountsave {
  height: 625px;
  margin-top: 50px;
}

.accountsave-item {
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 50px;
  width: 700px;
  padding: 50px;
  background-color: #fff;
}

.ruttien {
  font-size: 28px;
}
.border-accountsavebank {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 45px;
  margin-bottom: 50px;
}
.description {
  height:150px;
}
.accountsave-item {
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 50px;
  width: 500px;
  height: 170px;
  padding: 50px;
  background-color: #fff;
}
.accountsaves-item {
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 50px;
  width: 500px;
  height: 500px;
  padding: 50px;
  background-color: #fff;
}
.accountsavedetail-item {
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 50px;
  width: 500px;
  height: 300px;
  padding: 50px;
  background-color: #fff;
}
.fix {
  white-space: nowrap;
}
.fix-2 {
  margin-left: -200px;
}
.icons8-search { 
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMjQiIGhlaWdodD0iMjQiCnZpZXdCb3g9IjAgMCAyNCAyNCIKc3R5bGU9IiBmaWxsOiMwMDAwMDA7Ij4gICAgPHBhdGggZD0iTSA5IDIgQyA1LjE0NTg1MTQgMiAyIDUuMTQ1ODUxNCAyIDkgQyAyIDEyLjg1NDE0OSA1LjE0NTg1MTQgMTYgOSAxNiBDIDEwLjc0Nzk5OCAxNiAxMi4zNDUwMDkgMTUuMzQ4MDI0IDEzLjU3NDIxOSAxNC4yODEyNSBMIDE0IDE0LjcwNzAzMSBMIDE0IDE2IEwgMjAgMjIgTCAyMiAyMCBMIDE2IDE0IEwgMTQuNzA3MDMxIDE0IEwgMTQuMjgxMjUgMTMuNTc0MjE5IEMgMTUuMzQ4MDI0IDEyLjM0NTAwOSAxNiAxMC43NDc5OTggMTYgOSBDIDE2IDUuMTQ1ODUxNCAxMi44NTQxNDkgMiA5IDIgeiBNIDkgNCBDIDExLjc3MzI2OCA0IDE0IDYuMjI2NzMxNiAxNCA5IEMgMTQgMTEuNzczMjY4IDExLjc3MzI2OCAxNCA5IDE0IEMgNi4yMjY3MzE2IDE0IDQgMTEuNzczMjY4IDQgOSBDIDQgNi4yMjY3MzE2IDYuMjI2NzMxNiA0IDkgNCB6Ij48L3BhdGg+PC9zdmc+') 50% 50% no-repeat;
  background-size: 100%; }
  .search-icon {
    margin-right: 100px;
  }
  .search-key {
    color: #000;
  }
  