<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img
        src="https://res.cloudinary.com/dxd5emviu/image/upload/v1639043564/logoec_cf5s1l.png" alt=""
        class="icon-logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          {{!-- <a class="nav-link" href=""><i class="fab fa-youtube mr-2"></i>Các gói tiết kiệm</a> --}}
        </li>
      </ul>
    </div>
    <div class="account fix-2">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {{#if Admin}}
        <li class="nav-item">
          <a href="/admin/settingBankBook" class="nav-link fix"><i class="fas fa-money-bill mr-2"></i>Cài đặt gói tiết
            kiệm</a>
        </li>
        <li class="nav-item">
          <a href="/admin/managementUser" class="nav-link fix"><i class="fas fa-users mr-2"></i>Quản lý thông tin người
            dùng</a>
        </li>
        {{else}}
        {{#if tenTK}}
        <li class="nav-item">
          <a href="/" class="nav-link fix"><img
              src="https://res.cloudinary.com/dxd5emviu/image/upload/v1636773689/3643769_building_home_house_main_menu_icon_aslqav.png"
              class="icon mr-2">Trang chủ</a>
        </li>
        <li class="nav-item">
          <a href="/customer/myAccount" class="nav-link fix"><img
              src="https://res.cloudinary.com/dxd5emviu/image/upload/v1636774197/253368837_1020180792105747_3703074566365930133_n_d3ktbj.png"
              class="icon mr-2">Tài khoản</a>
        </li>
        <li class="nav-item">
          <a href="/term/" class="nav-link fix"><img
              src="https://res.cloudinary.com/dxd5emviu/image/upload/v1636774197/253805680_254568493358991_3418374681250977529_n_aycelb.png"
              class="icon mr-2">Gửi tiết kiệm</a>
        </li>
        <li class="nav-item">
          <a href="/settlement/" class="nav-link fix"><img
              src="https://res.cloudinary.com/dxd5emviu/image/upload/v1636774197/6496250_mjfnzb.png"
              class="icon mr-2">Tất toán</a>
        </li>
        <li class="nav-item">
          <a href="/history/" class="nav-link fix"><img
              src="https://res.cloudinary.com/dxd5emviu/image/upload/v1636774198/352426_history_icon_hmtqo2.png"
              class="icon mr-2">Lịch sử</a>
        </li>
      </ul>
      {{/if}}
      {{/if}}
      {{#if tenTK}}
      <div class="">
        <a href="" class="btn" data-toggle="modal" data-target="#search" data-id="" title="Tìm kiếm"><i
            class="fas fa-search"></i></a>
      </div>
      {{else}}
      <div class="fix-4">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 fix-3 mb-4">
          <li class="nav-item">
            <a href="/customer/signIn" class="nav-link fix">Đăng nhập</a>
          </li>
          <li class="nav-item">
            <a href="/customer/signUp" class="nav-link fix" style="color:#3BB9FF">Đăng ký tài khoản</a>
          </li>
        </ul>
      </div>
      {{/if}}
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          {{#if tenTK}}
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user mr-5"></i>
            {{tenKH}}
          </a>
          {{/if}}
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/customer/resetPassword">Đổi mật khẩu</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/customer/showInfomationOfAccount">Cập nhật thông tin</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/customer/logOut">Đăng xuất</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div id="search" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form action="/search" method="get">
          <div class="input-group size-search">
            <input type="text" name="searchse" class="form-control" id="search-input" placeholder="Tìm kiếm ...">
            <div class="input-group-append">
              <button type="submit" class="btn btn-outline-secondary"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer d-flex justify-content-around">
        <a href="/term" class="search-key">Mở tài khoản tiết kiệm</a>
        <a href="/settlement" class="search-key">Tất toán</a>
        <a href="/customer/myAccount" class="search-key">Rút tiền về PayPal</a>
        <a href="/customer/myAccount" class="search-key">Nạp tiền từ PayPal</a>
        <a href="/history" class="search-key">Lịch sử giao dịch</a>
      </div>
    </div>
  </div>
</div>