<div class="container-fluid main-slider">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block img-slider"
                    src="https://www.vpbank.com.vn/-/media/vpbank-latest/6all/banner/home-banner/vpbank-neo---lai-suat-nhan-doi--1920x740.jpg?w=1200&hash=004F76376F576B7E3B67274E96AD000A"
                    alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block img-slider"
                    src="https://www.vpbank.com.vn/-/media/vpbank-latest/6all/banner/home-banner/luot-la-yeu_herobanner_pc.jpg?w=1200&hash=C6965300AE3718B2F4F29FA64BA8614E"
                    alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block img-slider"
                    src="https://www.vpbank.com.vn/-/media/vpbank-latest/6all/banner/home-banner/laisuatsieusoc_herobanner_1920x740.jpg?w=1200&hash=14781BAB4F6BD013E1AE02F89CA0149C"
                    alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>