<div class="v1">
    <div class="accountsavebank ">
        <h4 class="endow">Tài khoản thanh toán</h4>
        <div class="accountsavebank-item inline-block">
            <h5 class="text-color">Tài khoản hiện tại: 012546684</h5>
            <h5>Số dư khả dụng:</h5>
        </div>
        <br>
        <h4 class="endow">Tài khoản tiết kiệm</h4>
        <div class="accountsavebank-item inline-block bg-success">
            <h5 class="text-color">ID: 012546684</h5>
            <h5>Số tiền tiết kiệm:</h5>
        </div>

    </div>
</div>