<div class="form-signup">
    <div class="form-signin-item text-center">
        <div>
            <img src="https://res.cloudinary.com/dxd5emviu/image/upload/v1636260329/249000531_905697440068131_6669106597424658124_n_fbahjd.jpg"
                alt="" class="icon-logo">
        </div>
        <form method="post" class="mt-4">
            <div class="form-group">
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Tên đăng nhập">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mật khẩu">
            </div>
            <button type="submit" class="btn btn-primary">Đăng nhập</button>
            <a href="#" class="nav-link">Quên tài khoản/mật khẩu?</a>
        </form>
    </div>
</div>